[Unit]
Description=Arp script
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/etc/scripts/static_arp

[Install]
WantedBy=multi-user.target
